In [118]:
import pandas as pd
import numpy as np 

# replace paths here
root_path = r'C:\Users\bened\DataScience\ANLP\AT2'
texts_path = r'\screenplay_data\data\raw_texts\raw_texts'

# read whole folder into a dictionary
import os

folder_path = f'{root_path}{texts_path}'
screenplays = {}
# list all files in folder and iterate over them 
for file_name in os.listdir(folder_path):
    # get file_path by joining folder path with file_name
    file_path = os.path.join(folder_path, file_name)
    # ensure path points to an actual file
    if os.path.isfile(file_path):
        with open(file_path, 'r', encoding='latin-1') as f:
            # try:
            content = f.read()
            screenplays[file_name] = content
            # except:
            #     print(f"{file_name} could not be read.")
# ensure files were imported correctly by printing a sample of the first ten files 
i = 0
for file_name, content in screenplays.items():
    if i == 10:
        break
    else:
        print(f"Example of {file_name}:\n")
        print(content[:100])
        print("-"*50)
        i += 1

Example of 10 Cloverfield Lane_1179933.txt:

The Cellar

by
Josh Campbell & Matt Stuecken
DARKNESS

And then --

A GUNNED ENGINE --

BLURRED HEA
--------------------------------------------------
Example of 10 Things I Hate About You_0147800.txt:


                               TEN THINGS I HATE ABOUT YOU

                written by Ka
--------------------------------------------------
Example of 101 Days of 101 Dalmatians_0249328.txt:

107
#2
40] _DALMATIANS MARCH 17, 1995

EXT. SKY. FULL MOON

A huge, yellow moon. CAMERA TILTS DOWN
--------------------------------------------------
Example of 12 Angry Men_0118528.txt:

PLEASE COPY AND RETURN |

âââ_ââââ_



TWELVE ANGRY MEN

by Reginald Rose

THE WRITIN
--------------------------------------------------
Example of 12 Monkeys_0114746.txt:


				TWELVE MONKEYS

		          An original screenplay by

				David Peoples
  				     &amp;

--------------------------------------------------
Example of 12 Years a Slave_2024544.txt:







                             12 YEARS A SLAVE









                               Written
--------------------------------------------------
Example of 127 Hours_1542344.txt:







                                   127 HOURS







                                   Writte
--------------------------------------------------
Example of 13 13 13_2991516.txt:

13/13/13

Written by

James Cullen Bressack

5/15/13
TEASER

FADE IN:

WIDE-EXT. JACKâS HOUSE-AFT
--------------------------------------------------
Example of 1408_0450385.txt:

1408

Written by
Scott Alexander & Larry Karaszewski
* FADE IN:

EXT. HIGHWAY -~ DAY
A dull highway
--------------------------------------------------
Example of 1492 Conquest of Paradise_0103594.txt:





                1492: CONQUEST OF PARADISE


                             by


--------------------------------------------------

In [120]:
# import metadata csv
pd.set_option('display.max_columns', 25)
meta_df = pd.read_csv(f'{root_path}\\movie_metadata\\movie_meta_data.csv')
meta_df.head()

,imdbid,title,akas,year,metascore,imdb user rating,number of imdb user votes,awards,opening weekend,producers,budget,script department,production companies,writers,directors,casting directors,cast,countries,age restrict,plot,plot outline,keywords,genres,taglines,synopsis
0,120770,A Night at the Roxbury,"Une nuit au Roxbury (France), Movida en el Rox...",1998,26,6,56537,NaN,United States:,"Marie Cantin, Erin Fraser, Amy Heckerling, Ste...","$17,000,000 (estimated)",NaN,"Broadway Pictures, Paramount Pictures, SNL Stu...","Steve Koren, Will Ferrell, Chris Kattan",John Fortenberry,Jeff Greenberg,"Will Ferrell, Chris Kattan, Raquel Gardner, Vi...",United States,"Argentina:13, Australia:M, Brazil:14, Canada:P...",Two dim-witted brothers dream of owning their ...,"The Roxbury Guys, Steve and Doug Butabi, want ...","woman-on-top, nightclub, car-accident, 1990s, ...","Comedy, Music, Romance",Score!,NaN
1,132512,At First Sight,"Sight Unseen (United States), Premier regard (...",1999,40,6,12922,NaN,United States:,"Rob Cowan, Roger Paradiso, Irwin Winkler","$60,000,000 (estimated)",NaN,Metro-Goldwyn-Mayer,"Oliver Sacks, Steve Levitt",Irwin Winkler,"Kerry Barden, Billy Hopkins, Suzanne Smith","Val Kilmer, Mira Sorvino, Kelly McGillis, Stev...",United States,"Argentina:13, Australia:M, Canada:PG::(Alberta...",A blind man has an operation to regain his sig...,First Sight is true to the title from start to...,"visual-agnosia, brother-sister-relationship, r...","Drama, Romance","Only Love Can Bring You To Your Senses., Scien...",NaN
2,118661,The Avengers,"Chapeau melon et bottes de cuir (France), Mit ...",1998,12,3,40784,"FMCJ Award 1998, Golden Reel Award 1999, Razzi...","United States: $10,305,957, 16 Aug 1998","Susan Ekins, Jerry Weintraub","$60,000,000 (estimated)","Sharon Mansfield, Anna Worley","Warner Bros., Jerry Weintraub Productions","Sydney Newman, Don MacPherson",Jeremiah S. Chechik,Susie Figgis,"Ralph Fiennes, Uma Thurman, Sean Connery, Patr...",United States,"Argentina:13, Australia:PG, Brazil:10, Canada:...",Two British Agents team up to stop Sir August ...,"British Ministry Agent John Steed, under direc...","good-versus-evil, heroine, evil-man, villain, ...","Action, Adventure, Sci-Fi, Thriller","Mrs. Peel, we're needed., Extraordinary crimes...",NaN
3,215545,Bamboozled,"The Very Black Show (France), It's Showtime (G...",2000,54,6,10373,"Golden Berlin Bear 2001, Black Reel 2001, Imag...",United States:,"Jon Kilik, Spike Lee, Kisha Imani Cameron","$10,000,000 (estimated)","Shari L. Carpenter, Carolyn De Sousa","New Line Cinema, 40 Acres & A Mule Filmworks",Spike Lee,Spike Lee,Aisha Coley,"Damon Wayans, Savion Glover, Jada Pinkett Smit...",United States,"Australia:MA, Finland:K-15, France:Tous public...",A frustrated African-American TV writer propos...,"Dark, biting satire of the television industry...","television-industry, african-american, referen...","Comedy, Drama, Music",Starring the great negroe actors,"In a New York City residence, Pierre Delacroix..."
4,118715,The Big Lebowski,"El gran Lebowski (Spain), O Grande Lebowski (P...",1998,71,8,724388,"Honorable Mention 1998, ACCA 1998, Golden Berl...","United States: $5,533,844, 08 Mar 1998","Tim Bevan, John Cameron, Ethan Coen, Eric Fell...","$15,000,000 (estimated)",T. Kukovinski,"Polygram Filmed Entertainment, Working Title F...","Ethan Coen, Joel Coen","Joel Coen, Ethan Coen",John S. Lyons,"Jeff Bridges, John Goodman, Julianne Moore, St...","United States, United Kingdom","Argentina:16, Argentina:18::(cable rating), Au...","Jeff ""The Dude"" Lebowski, mistaken for a milli...","When ""the dude"" Lebowski is mistaken for a mil...","rug, nihilism, pornographer, bowling-alley, de...","Comedy, Crime, Sport",Hay quienes tratan de ganarse la vida sin move...,A tumbleweed rolls up a hillside just outside ...

In [121]:
print(meta_df.columns)

Index(['imdbid', 'title', 'akas', 'year', 'metascore', 'imdb user rating',
       'number of imdb user votes', 'awards', 'opening weekend', 'producers',
       'budget', 'script department', 'production companies', 'writers',
       'directors', 'casting directors', 'cast', 'countries', 'age restrict',
       'plot', 'plot outline', 'keywords', 'genres', 'taglines', 'synopsis'],
      dtype='object')

Columns relevant to us are:
- title
- age restrict
- year may be of relevance in examining changes in cultural norms over time. E.g. a certain curse word might get a movie an MA rating in the 1960s but not in the 2020s. 
- budget and opening weekend may be of relevance in examining impact of classification on the movie's net.
- imdbid may be of relevance for joining other data through the imdb database.

In [122]:
print(list(screenplays.keys())[:10])

['10 Cloverfield Lane_1179933.txt', '10 Things I Hate About You_0147800.txt', '101 Days of 101 Dalmatians_0249328.txt', '12 Angry Men_0118528.txt', '12 Monkeys_0114746.txt', '12 Years a Slave_2024544.txt', '127 Hours_1542344.txt', '13 13 13_2991516.txt', '1408_0450385.txt', '1492 Conquest of Paradise_0103594.txt']

In [126]:
# filenames are formatted as movietitle_IMDBid 
import re

filenames = list(screenplays.keys())
movie_titles = []
ids = []
for f in filenames:
    # split at _ to separate title from rest of filename
    split1 = f.split(sep="_", maxsplit=1)
    movie_title = split1[0]
    movie_titles.append(movie_title)
    # split at "." to truncate file extension
    split2 = split1[1].split(sep=".", maxsplit=1)
    id = split2[0]
    ids.append(id)
i = 0
for title, id in zip(movie_titles, ids):
    if i == 10:
        break
    else:
        print("Title:", title, " ID:", id)
        i += 1

Title: 10 Cloverfield Lane  ID: 1179933
Title: 10 Things I Hate About You  ID: 0147800
Title: 101 Days of 101 Dalmatians  ID: 0249328
Title: 12 Angry Men  ID: 0118528
Title: 12 Monkeys  ID: 0114746
Title: 12 Years a Slave  ID: 2024544
Title: 127 Hours  ID: 1542344
Title: 13 13 13  ID: 2991516
Title: 1408  ID: 0450385
Title: 1492 Conquest of Paradise  ID: 0103594

In [127]:
# create a DataFrame from ids and text data
screenplays_df = pd.DataFrame({
    'imdbid': ids,
    'screenplay': screenplays.values()
})
screenplays_df.head()

    imdbid                                         screenplay
0  1179933  The Cellar\n\nby\nJosh Campbell & Matt Stuecke...
1  0147800  \n                               TEN THINGS I ...
2  0249328  107\n
#2\n40] _DALMATIANS MARCH 17, 1995\n\nEX...
3  0118528  PLEASE COPY AND RETURN |\n\nâââ_âââ...
4  0114746  \n\t\t\t\tTWELVE MONKEYS\n\t    \n\t\t        ...

In [128]:
print(meta_df.info())
print(screenplays_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2858 entries, 0 to 2857
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   imdbid                     2858 non-null   int64
 1   title                      2858 non-null   object
 2   akas                       2652 non-null   object
 3   year                       2858 non-null   int64
 4   metascore                  2858 non-null   int64
 5   imdb user rating           2858 non-null   int64
 6   number of imdb user votes  2858 non-null   int64
 7   awards                     2243 non-null   object
 8   opening weekend            1739 non-null   object
 9   producers                  2640 non-null   object
 10  budget                     1624 non-null   object
 11  script department          2220 non-null   object
 12  production companies       2682 non-null   object
 13  writers                    2696 non-null   object
 14  directors                  2658 non-null   object
 15  casting directors          2141 non-null   object
 16  cast                       2806 non-null   object
 17  countries                  2678 non-null   object
 18  age restrict               2526 non-null   object
 19  plot                       2709 non-null   object
 20  plot outline               2457 non-null   object
 21  keywords                   2601 non-null   object
 22  genres                     2846 non-null   object
 23  taglines                   2256 non-null   object
 24  synopsis                   1852 non-null   object
dtypes: int64(5), object(20)
memory usage: 558.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2858 entries, 0 to 2857
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   imdbid      2858 non-null   object
 1   screenplay  2858 non-null   object
dtypes: object(2)
memory usage: 44.8+ KB
None

In [129]:
# merge with metadata on imdbid
screenplays_df['imdbid'] = screenplays_df['imdbid'].astype(int)
df = meta_df.merge(screenplays_df, on='imdbid')
df.head()

,imdbid,title,akas,year,metascore,imdb user rating,number of imdb user votes,awards,opening weekend,producers,budget,script department,...,directors,casting directors,cast,countries,age restrict,plot,plot outline,keywords,genres,taglines,synopsis,screenplay
0,120770,A Night at the Roxbury,"Une nuit au Roxbury (France), Movida en el Rox...",1998,26,6,56537,NaN,United States:,"Marie Cantin, Erin Fraser, Amy Heckerling, Ste...","$17,000,000 (estimated)",NaN,...,John Fortenberry,Jeff Greenberg,"Will Ferrell, Chris Kattan, Raquel Gardner, Vi...",United States,"Argentina:13, Australia:M, Brazil:14, Canada:P...",Two dim-witted brothers dream of owning their ...,"The Roxbury Guys, Steve and Doug Butabi, want ...","woman-on-top, nightclub, car-accident, 1990s, ...","Comedy, Music, Romance",Score!,NaN,\n\n\t\t\t A NIGHT AT THE ROXBURY \n\n\n\t\...
1,132512,At First Sight,"Sight Unseen (United States), Premier regard (...",1999,40,6,12922,NaN,United States:,"Rob Cowan, Roger Paradiso, Irwin Winkler","$60,000,000 (estimated)",NaN,...,Irwin Winkler,"Kerry Barden, Billy Hopkins, Suzanne Smith","Val Kilmer, Mira Sorvino, Kelly McGillis, Stev...",United States,"Argentina:13, Australia:M, Canada:PG::(Alberta...",A blind man has an operation to regain his sig...,First Sight is true to the title from start to...,"visual-agnosia, brother-sister-relationship, r...","Drama, Romance","Only Love Can Bring You To Your Senses., Scien...",NaN,AT FIRST SIGHT\n\nEXT. VALLEY - DUSK \nGold li...
2,118661,The Avengers,"Chapeau melon et bottes de cuir (France), Mit ...",1998,12,3,40784,"FMCJ Award 1998, Golden Reel Award 1999, Razzi...","United States: $10,305,957, 16 Aug 1998","Susan Ekins, Jerry Weintraub","$60,000,000 (estimated)","Sharon Mansfield, Anna Worley",...,Jeremiah S. Chechik,Susie Figgis,"Ralph Fiennes, Uma Thurman, Sean Connery, Patr...",United States,"Argentina:13, Australia:PG, Brazil:10, Canada:...",Two British Agents team up to stop Sir August ...,"British Ministry Agent John Steed, under direc...","good-versus-evil, heroine, evil-man, villain, ...","Action, Adventure, Sci-Fi, Thriller","Mrs. Peel, we're needed., Extraordinary crimes...",NaN,\n\n\t\t\t\t\tTHE AVENGERS\n\n\t\t\t\tScreenpl...
3,215545,Bamboozled,"The Very Black Show (France), It's Showtime (G...",2000,54,6,10373,"Golden Berlin Bear 2001, Black Reel 2001, Imag...",United States:,"Jon Kilik, Spike Lee, Kisha Imani Cameron","$10,000,000 (estimated)","Shari L. Carpenter, Carolyn De Sousa",...,Spike Lee,Aisha Coley,"Damon Wayans, Savion Glover, Jada Pinkett Smit...",United States,"Australia:MA, Finland:K-15, France:Tous public...",A frustrated African-American TV writer propos...,"Dark, biting satire of the television industry...","television-industry, african-american, referen...","Comedy, Drama, Music",Starring the great negroe actors,"In a New York City residence, Pierre Delacroix...",\t\t\t\tBamboozled\n\n\t\t\t\tby\n\n\t\t\t\tSp...
4,118715,The Big Lebowski,"El gran Lebowski (Spain), O Grande Lebowski (P...",1998,71,8,724388,"Honorable Mention 1998, ACCA 1998, Golden Berl...","United States: $5,533,844, 08 Mar 1998","Tim Bevan, John Cameron, Ethan Coen, Eric Fell...","$15,000,000 (estimated)",T. Kukovinski,...,"Joel Coen, Ethan Coen",John S. Lyons,"Jeff Bridges, John Goodman, Julianne Moore, St...","United States, United Kingdom","Argentina:16, Argentina:18::(cable rating), Au...","Jeff ""The Dude"" Lebowski, mistaken for a milli...","When ""the dude"" Lebowski is mistaken for a mil...","rug, nihilism, pornographer, bowling-alley, de...","Comedy, Crime, Sport",Hay quienes tratan de ganarse la vida sin move...,A tumbleweed rolls up a hillside just outside ...,\n\n\t\t\tTHE BIG LEBOWSKI\n\nWe are floating ...

In [130]:
df.columns

Index(['imdbid', 'title', 'akas', 'year', 'metascore', 'imdb user rating',
       'number of imdb user votes', 'awards', 'opening weekend', 'producers',
       'budget', 'script department', 'production companies', 'writers',
       'directors', 'casting directors', 'cast', 'countries', 'age restrict',
       'plot', 'plot outline', 'keywords', 'genres', 'taglines', 'synopsis',
       'screenplay'],
      dtype='object')

In [131]:
# create a lean version of the dataframe containing only columns clearly relevant to predicting age restrict classification
relevant_cols = ['imdbid', 'title', 'year', 'opening weekend', 'budget', 'age restrict', 'genres', 'screenplay']
df_lean = df[relevant_cols]
df_lean.head()

,imdbid,title,year,opening weekend,budget,age restrict,genres,screenplay
0,120770,A Night at the Roxbury,1998,United States:,"$17,000,000 (estimated)","Argentina:13, Australia:M, Brazil:14, Canada:P...","Comedy, Music, Romance",\n\n\t\t\t A NIGHT AT THE ROXBURY \n\n\n\t\...
1,132512,At First Sight,1999,United States:,"$60,000,000 (estimated)","Argentina:13, Australia:M, Canada:PG::(Alberta...","Drama, Romance",AT FIRST SIGHT\n\nEXT. VALLEY - DUSK \nGold li...
2,118661,The Avengers,1998,"United States: $10,305,957, 16 Aug 1998","$60,000,000 (estimated)","Argentina:13, Australia:PG, Brazil:10, Canada:...","Action, Adventure, Sci-Fi, Thriller",\n\n\t\t\t\t\tTHE AVENGERS\n\n\t\t\t\tScreenpl...
3,215545,Bamboozled,2000,United States:,"$10,000,000 (estimated)","Australia:MA, Finland:K-15, France:Tous public...","Comedy, Drama, Music",\t\t\t\tBamboozled\n\n\t\t\t\tby\n\n\t\t\t\tSp...
4,118715,The Big Lebowski,1998,"United States: $5,533,844, 08 Mar 1998","$15,000,000 (estimated)","Argentina:16, Argentina:18::(cable rating), Au...","Comedy, Crime, Sport",\n\n\t\t\tTHE BIG LEBOWSKI\n\nWe are floating ...

In [132]:
df_lean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2853 entries, 0 to 2852
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdbid           2853 non-null   int64
 1   title            2853 non-null   object
 2   year             2853 non-null   int64
 3   opening weekend  1736 non-null   object
 4   budget           1623 non-null   object
 5   age restrict     2524 non-null   object
 6   genres           2841 non-null   object
 7   screenplay       2853 non-null   object
dtypes: int64(2), object(6)
memory usage: 178.4+ KB

In [133]:
df_lean['age restrict'][:50]

0     Argentina:13, Australia:M, Brazil:14, Canada:P...
1     Argentina:13, Australia:M, Canada:PG::(Alberta...
2     Argentina:13, Australia:PG, Brazil:10, Canada:...
3     Australia:MA, Finland:K-15, France:Tous public...
4     Argentina:16, Argentina:18::(cable rating), Au...
5     Argentina:13, Australia:MA, Canada:14A::(Manit...
6     Argentina:16, Australia:MA, Belgium:KT/EA, Bra...
7     Argentina:18, Australia:M, Brazil:14, Canada:P...
8     Argentina:13, Australia:M, Canada:14A::(Albert...
9     Argentina:Atp, Australia:M, Finland:K-8, Germa...
10    Argentina:16, Australia:M, Australia:MA15+, Br...
11    Argentina:13, Australia:M, Brazil:10, France:T...
12    Argentina:Atp, Australia:G, Australia:PG::(TV ...
13    Argentina:16, Argentina:18, Australia:R, Brazi...
14    Argentina:Atp, Australia:G, Brazil:Livre, Cana...
15    Argentina:Atp, Australia:G, Brazil:Livre::(vid...
16                                                  NaN
17    Argentina:13, Australia:M, Brazil:12, Finland:...
18    Argentina:13, Argentina:16, Australia:PG, Aust...
19    Argentina:13, Australia:M, Brazil:12, Canada:P...
20    Argentina:Atp, Australia:M, Brazil:14, Canada:...
21    Argentina:13, Australia:M, Brazil:14::(video r...
22    Argentina:13, Australia:MA, Canada:18A, Canada...
23    Argentina:Atp, Australia:PG, Australia:M::(Spe...
24    Argentina:16, Australia:M, Brazil:14, Finland:...
25    Argentina:13, Australia:M, Canada:PA::(Ontario...
26    Argentina:Atp, Australia:PG, Australia:G::(TV ...
27    Argentina:13, Australia:M, Brazil:14, Canada:A...
28    Argentina:13, Australia:M, Canada:PG, Finland:...
29    Argentina:Atp, Australia:PG, Brazil:Livre, Can...
30    Australia:M, Canada:PG::(Canadian Home Video r...
31    Canada:14A::(Alberta), Canada:PG::(Ontario), C...
32    Australia:A, Australia:PG, Brazil:18, Canada:P...
33    Argentina:13, Australia:M, Brazil:14, Canada:1...
34    Argentina:18, Argentina:16, Australia:R, Austr...
35    Argentina:18, Argentina:13, Australia:M, Brazi...
36    Argentina:16, Australia:MA, Brazil:18, Canada:...
37    Argentina:13, Australia:M, Brazil:12, Canada:1...
38    Argentina:13, Australia:M, Brazil:12, Canada:1...
39    Argentina:16, Australia:MA15+, Brazil:14, Cana...
40    Canada:PG::(British Columbia), Denmark:A::(DVD...
41    Argentina:13, Australia:M, Austria:10, Brazil:...
42    Australia:M, Brazil:14, Canada:14A::(Alberta),...
43    Argentina:13, Australia:MA15+, Austria:12, Bel...
44    Argentina:13, Australia:M, Brazil:12, Canada:P...
45    Australia:M, Canada:PG::(Alberta), Canada:PG::...
46    Argentina:13, Australia:MA15+, Australia:M, Au...
47    Australia:M, Brazil:12, Brazil:10::(some episo...
48    Argentina:13::(with warning), Australia:M, Bra...
49    Australia:MA15+, Canada:14A::(Alberta), Canada...
Name: age restrict, dtype: object

In [134]:
# filter out the Australian age restrict classification 
def find_aus_classification(string):
    pattern = re.compile(r', Australia:(G|PG|M|MA|MA15\+|R), ')
    match = re.search(pattern, string)
    if match:
        return match.group(1)
    else:
        return pd.NA

In [135]:
# assess missing values in age restrict 
df_lean['age restrict'].isnull().sum()
print(df_lean.shape)

(2853, 8)

In [136]:
# drop rows with missing values for age restrict 
df_clean = df_lean.dropna(how='any', subset='age restrict')
print(df_clean.shape)
print(df_clean['age restrict'].isnull().sum())

(2524, 8)
0

In [137]:
aus_classifications = df_clean['age restrict'].apply(find_aus_classification)
aus_classifications

0           M
1           M
2          PG
3        <NA>
4          MA
        ...
2848     <NA>
2849       PG
2850    MA15+
2851       PG
2852    MA15+
Name: age restrict, Length: 2524, dtype: object

In [145]:
# create a dataset with aus classifications
df_clean.loc[:,'age restrict aus'] = aus_classifications
df_clean.head()

,imdbid,title,year,opening weekend,budget,age restrict,genres,screenplay,age restrict aus
0,120770,A Night at the Roxbury,1998,United States:,"$17,000,000 (estimated)","Argentina:13, Australia:M, Brazil:14, Canada:P...","Comedy, Music, Romance",\n\n\t\t\t A NIGHT AT THE ROXBURY \n\n\n\t\...,M
1,132512,At First Sight,1999,United States:,"$60,000,000 (estimated)","Argentina:13, Australia:M, Canada:PG::(Alberta...","Drama, Romance",AT FIRST SIGHT\n\nEXT. VALLEY - DUSK \nGold li...,M
2,118661,The Avengers,1998,"United States: $10,305,957, 16 Aug 1998","$60,000,000 (estimated)","Argentina:13, Australia:PG, Brazil:10, Canada:...","Action, Adventure, Sci-Fi, Thriller",\n\n\t\t\t\t\tTHE AVENGERS\n\n\t\t\t\tScreenpl...,PG
3,215545,Bamboozled,2000,United States:,"$10,000,000 (estimated)","Australia:MA, Finland:K-15, France:Tous public...","Comedy, Drama, Music",\t\t\t\tBamboozled\n\n\t\t\t\tby\n\n\t\t\t\tSp...,<NA>
4,118715,The Big Lebowski,1998,"United States: $5,533,844, 08 Mar 1998","$15,000,000 (estimated)","Argentina:16, Argentina:18::(cable rating), Au...","Comedy, Crime, Sport",\n\n\t\t\tTHE BIG LEBOWSKI\n\nWe are floating ...,MA

In [147]:
df_clean.columns

Index(['imdbid', 'title', 'year', 'opening weekend', 'budget', 'age restrict',
       'genres', 'screenplay', 'age restrict aus'],
      dtype='object')

In [149]:
df_aus = df_clean.dropna(how='any', subset='age restrict aus')
df_aus.shape

(1891, 9)

In [151]:
## save as CSVs
# df_clean.to_csv('df_clean.csv')
# df_aus.to_csv('df_aus.csv')